.footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    max-width: 1440px;
    margin-top: auto; 
  }
  
  
  .footer-container p {
    margin: 0;
    font-size: 1.2em;
  }
  